In [1]:
a = 10
b = 20
c = 25

if a < b and a > c:
    print('A is bigger')

else:
    print('Something is wrong')

Something is wrong

Login Application

In [2]:
stored_username = 'Chibuike'
stored_password = '12345'


if stored_username == 'Chibuike' or stored_password == '12345':
    print(f"Welcome {stored_username}!")
else:
    print('Sorry, username or password not correct')

Welcome Chibuike!

In [4]:
username = input('Enter your username:')
print(f"Welcome {username}")

Enter your username: chibuike

Welcome chibuike

In [1]:
stored_username = 'Chibuike'
stored_password = '12345'

User = input('Enter your username: ')
password = input('Enter your password: ')


if stored_username == User and stored_password == password:
    print(f"Welcome {User}")
    print(f"your password is*****")
else:
    print(f"sorry, {User} is not registered")

Enter your username:  ee
Enter your password:  ee

sorry, ee is not registered

Data Type Conversion

In [50]:
a = 2
b = '2'
c = float(b)
d = str(a)
a + c

4.0

Mini Bank App

In [53]:
Balance = 100000

amount = int(input ('How much do you want to withdraw: '))
total = Balance - amount
if amount < Balance:
    print(f"You have withdrawn {amount}")
    print(f"Your balance is {total}")

How much do you want to withdraw:  35000

You have withdrawn 35000
Your balance is 65000

In [ ]:
#create a system that would check between two numbers
#if the first number is greater than the second number, then minus the second 
#from the first, else just add them up.

Classwork

In [63]:

a = int(input(' '))
b = int(input(' '))

if a > b:
    print(a-b)

else:
    print(a+b)

  200
  300

500

Python List

In [1]:
fruit = ['orange','mango','apple','banana']
names = ['Jo','Chi','King']
a = '2.9'
type(fruit)
len(fruit)

list

List Indexing

In [3]:
fruit[0:2]

['orange', 'mango']

Changing Items Value

In [4]:
fruit[3] = 'pineapple'
fruit

['orange', 'mango', 'apple', 'pineapple']

Insert items

In [2]:
fruit.insert(2, 'pawpaw')
fruit

['orange', 'mango', 'pawpaw', 'apple', 'banana']

In [5]:
print(fruit)

['orange', 'mango', 'apple', 'pineapple']

In [44]:
fruit.append('strawberry')

In [45]:
fruit

['orange',
 'Cashew',
 'pawpaw',
 'plant',
 'last fruit',
 'apple',
 'pineapple',
 'last fruit',
 'last fruit',
 'strawberry',
 'strawberry']

In [6]:
fruit.remove('orange')

In [7]:
fruit

['mango', 'apple', 'pineapple']

In [8]:
fruit.pop(1)

'apple'

In [9]:
names

['Jo', 'Chi', 'King']

In [10]:
names.sort()
names

['Chi', 'Jo', 'King']

In [15]:
names.sort(reverse = True)
names

['King', 'Jo', 'Chi']

In [20]:
a = [2,7,33,55,8,3,]

a.sort(reverse = False)
a

[2, 3, 7, 8, 33, 55]

Python Dictionary

In [8]:
Student = {'fname': 'Chibuike',
           'lname': 'Kingsley',  
           'Age':17,  
           'State': 'Abuja'
}

a = (3,4,5,6,1,7) #tuple
b = [6,3,4,2,5,6] #List
c = {'name':'chibuike'} #dictionary

print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'list'>
<class 'dict'>

In [5]:
type(Student)

dict

In [25]:
b = ['chibuike', 12, 'kingsley', 65]#list

b[1]+b[3]

77

In [27]:
Student['Age']

17

In [ ]:
scores = [233,344,3554,455,543]
names = ['chibuike','kingsley']

LOOP

In [3]:
bag = ['mango', 'cloth', 'rice', 4, 'ball', 'laptop']
for anything in bag:
    print(anything)

mango
cloth
rice
4
ball
laptop

In [13]:
animals =['cat', 'dog', 'rat', 'fish']
for f in animals:
    print(f)

cat
dog
rat
fish

In [12]:
numbers = [1,2,3,4,5,6,7,8]
for x in numbers:
    if x == 6:
        break 
    
    print(x)

1
2
3
4
5

In [7]:
numerals = [1,2,3,4,5,6]
for y in numerals:
    if y == 4:
        continue
    
    print(y)

1
2
3
5
6

In [19]:
numbers = [1,2,3,4,5,6,7,8]
for x in numbers:
    if x == 6:
        continue
    print(x)

1
2
3
4
5
7
8

In [20]:
#First condition
if 6 in bag:
    print('6 is there')
    #Second condition
    if 'mango' is in box:
        print('Mango is there also')
    else:
        print('Mango is not there')
else:
    print('6 is not there')

6 is not there

In [ ]:
#1. Create a list and store different names in it
#2. Ask for user input i.e. the name of the user, and check if the names is in the list
#3. Have a list of different artist
#4. Ask users to type the name of any artist they know, and confirm if its in that list, if they got the answer, tell them the got the answer.
#5. Ask the same question again as question number 2 and confirm if their answer is also in the list.

In [34]:
Names = ['Ade', 'Paula', 'Joy']
Artists = ['Mike','Charlie','Gracie']
User = input('Enter Username')

#question 1
if User in Names:
    print(f"Welcome {User}")
    
    q1 = input('Enter an artist name:')
    if q1 in Artists:
        print(f"{q1} is an artist")
    else:
        f"{q1} is not an artist"

#question 2
    q2 = input('Enter an artist name:')
    if q2 in Artists:
        print(f"{q2} is an artist name")
    else:
        f"{q2} is not an artist"
        
        
else: 
    print(f"Sorry,{User} is not registered!")

Enter Username ogo

Sorry,ogo is not registered!

In [11]:
for x in range(3):
    input('Enter username')

Enter username nn
Enter username mm
Enter username mmm

In [1]:
name = []
for x in range(4):
    user = input('Enter a name:')
    name.append(user)
    print('The current list is', name)

Enter a name: Jo

The current list is ['Jo']

Enter a name: John

The current list is ['Jo', 'John']

Enter a name: Joan

The current list is ['Jo', 'John', 'Joan']

Enter a name: Jonah

The current list is ['Jo', 'John', 'Joan', 'Jonah']

In [20]:
name

['Jo']

In [4]:
Artists = ['Mike','Charlie','Gracie']

for m in range(4):
    c = input('Enter artist name:')

    if c in Artists:
        print(f"{c} is an artist")
    else:
        print(f"{c} is not an artist")
    print("------This ends the first loop------")

Enter artist name: Mike

Mike is an artist
------This ends the first loop------

Enter artist name: mmm

mmm is not an artist
------This ends the first loop------

Enter artist name: mmm

mmm is not an artist
------This ends the first loop------

Enter artist name: nn

nn is not an artist
------This ends the first loop------

In [8]:
fish = []
for c in range(20):
    print(c)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
#You're a software developer, you're contracted to create a system that stored different products. Consider allowing people
#to check all the availabe products. Tell them which one is available.
#This check can happen at any amount of time you prefer

In [2]:
Products = ['beverages', 'rice', 'oil', 'juice', 'water', 'fruits']
for a in range(6):
    p = input('What product do you want?:')

    if p in Products:
        print(f"{p} is totally available, today!")
            
    else: 
        print(f" Oops! {p} is out of stock, today.")

What product do you want?: cake

 Oops! cake is out of stock, today.

What product do you want?: fruits

fruits is totally available, today!

What product do you want?: fried yam

 Oops! fried yam is out of stock, today.

What product do you want?: smoothie

 Oops! smoothie is out of stock, today.

What product do you want?: Juice

 Oops! Juice is out of stock, today.

What product do you want?: beverages

beverages is totally available, today!

In [32]:
Items = ['rice', 'beans', 'yam', 'noodles']

print('Welcome to our System')
print('(1) View all items')
print('(2) Search all items')
print('(3) Add new items')
print('(4) Remove items')
print('-----------------')
q1 = input('What do you want?')

#This shows all the products
if q1 == '1':
    print('The items available are')
    for anything in Items:
        print(f"-{anything}")

#This will search for the products
elif q1 == '2':
    print('Search all items')
    b = input('Enter the item you want:')
    if b in Items:
        print(f"{b} is available")
    else:
        print(f"{b} is not available")

elif q1 == '3':
    c = input('new items')
    Items.append(c)
    print(f'{c} is added to items')

elif q1 == '4':
    print('Remove items')
    c = input('Which item do you want to remove?:')
    Items.remove(c)
    print(f"{c} has been removed successfully!")
    for x in Items:
          print(f"-{x}")

else:
    print('Invalid')

Welcome to our System
(1) View all items
(2) Search all items
(3) Add new items
(4) Remove items
-----------------

What do you want? 4

Remove items

Which item do you want to remove?: rice

rice has been removed successfully!
-beans
-yam
-noodles